Eyedia.Aarbac.Framework/MetaData/Entitlement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RbacEntitlements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RbacEntitlementMenus">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="RbacEntitlementMenu">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="RbacEntitlementMenu">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="RbacEntitlementMenu">
                            <xs:complexType>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="Text" type="xs:string" use="required" />
                              <xs:attribute name="Visible" type="xs:boolean" use="required" />
                              <xs:attribute name="Enabled" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Text" type="xs:string" use="required" />
                        <xs:attribute name="Visible" type="xs:boolean" use="required" />
                        <xs:attribute name="Enabled" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Text" type="xs:string" use="required" />
                  <xs:attribute name="Visible" type="xs:boolean" use="required" />
                  <xs:attribute name="Enabled" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RbacEntitlementScreens">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="RbacEntitlementScreen">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RbacEntitlementScreen">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="RbacEntitlementScreen">
                            <xs:complexType>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="Text" type="xs:string" use="required" />
                              <xs:attribute name="Visible" type="xs:boolean" use="required" />
                              <xs:attribute name="Enabled" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Text" type="xs:string" use="required" />
                        <xs:attribute name="Visible" type="xs:boolean" use="required" />
                        <xs:attribute name="Enabled" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Text" type="xs:string" use="required" />
                  <xs:attribute name="Visible" type="xs:boolean" use="required" />
                  <xs:attribute name="Enabled" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>