Eyedia.Aarbac.Framework/MetaData/Entitlement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RbacEntitlements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RbacEntitlementMenus">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="RbacEntitlementMenu" type="MenuNode" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RbacEntitlementScreens">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="RbacEntitlementScreen" type="ScreenNode" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
  <xs:complexType name="MenuNode">
    <xs:sequence>
      <xs:element name="RbacEntitlementMenu" type="MenuNode" minOccurs="0"  maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Text" type="xs:string" use="required" />
    <xs:attribute name="Visible" type="xs:boolean" use="required" />
    <xs:attribute name="Enabled" type="xs:boolean" use="required" />   
  </xs:complexType>
  <xs:complexType name="ScreenNode">
    <xs:sequence>
      <xs:element name="RbacEntitlementScreen" type="ScreenNode" minOccurs="0"  maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Text" type="xs:string" use="required" />
    <xs:attribute name="Visible" type="xs:boolean" use="required" />
    <xs:attribute name="Enabled" type="xs:boolean" use="required" />
  </xs:complexType>
</xs:schema>